{% extends "register_layout.html" %}
{% load static from staticfiles %}
{% block title %}Register{% endblock %}
{% load eli_brackets %}
{% block form %}
<form method="post">
{% csrf_token %}
    <style>ul{padding-inline-start:25px;}</style>
    <img class="img-fluid" src="{% static "img/Task-of-the-day-logo-light.png" %}">
    <div class="form-group">
        <div class="col-sm-12 p-0">
            {% if form.username.errors %}
                <ul>
                {% for cur_error in form.username.errors %}
                    <li><span class="text-danger small">{{ cur_error | safe | eli_brackets }}</span></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <input class="form-control" type="hidden" id="username" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <div class="col-sm-12 p-0">
            {% if form.email.errors %}
                <ul>
                {% for cur_error in form.email.errors %}
                    <li><span class="text-danger small">{{ cur_error | safe | eli_brackets }}</span></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <input class="form-control" type="email" name="email" id="email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <div class="col-sm-12 p-0">
            {% if form.password.errors %}
                <ul>
                {% for cur_error in form.password.errors %}
                    <li><span class="text-danger small">{{ cur_error | safe | eli_brackets }}</span></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <input class="form-control" type="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <div class="col-sm-12 p-0">
            {% if form.confirm_password.errors %}
                <ul>
                {% for cur_error in form.confirm_password.errors %}
                    <li><span class="text-danger small">{{ cur_error | safe | eli_brackets }}</span></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Create Account</button>
    </div>
    <a href="/login" class="forgot">Already got an account? Login here.</a>
</form>
<script>
    document.getElementById('email').addEventListener('change', function(e){
        console.log(e.target.value);
        document.getElementById('username').value = e.target.value;
    });
    //console.log(document.getElementById('username').value);
</script>
{% endblock %}