{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/layout.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylebg.css'%}">
    <link rel="stylesheet" href="{% static 'css/Steps-Progressbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">


</head>
<body class="bg-image" style="background-image: url('{% static "img/bg-task-of-the-day-new.jpg"%}')";>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color:rgba(38,153,251,0.4);">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "img/Task-of-the-day-logo-light.png" %}" style="width:100px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/" style="padding:8px 8px 8px 30px;color:rgba(255,255,255,0.9);">Daily Task</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/accounts/profile" style="color:#ffffff;">Account</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Log out</a></li>
                </ul>
        </div>
        </div>
    </nav>
    {% block content %}{% endblock %}

    {% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
</body>

</html>