{% extends "layout.html" %}
{% load static %}

{% block title %}Payment{% endblock %}
{% block script %}
<!-- <script src="https://js.stripe.com/v3/"></script> -->
<script src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
</script>


 <script src="{% static 'payment/js/payment.js' %}" type="text/javascript"></script>

{% endblock %}

{% block content %}
<row>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">Credit Card</div>
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center title-2">Add Card</h3>
                </div>
                <hr>
                <form id="user_form" accept-charset="UTF-8"
              action="{% url 'card_register' %}"

              class="form-stacked"  method="post">
                {% csrf_token %}
                {% include "payment/errors.html" %}
                {% for field in form.visible_fields %}
                  {% include "payment/field.html" %}
                {% endfor %}
                <div id="change-card" class="clearfix"{% if not form.last_4_digits.value %} style="display: none"{% endif %}>
                  Card
                  <div class="input">
                    Using card ending with {{ form.last_4_digits.value }}
                    (<a href="#">change</a>)
                  </div>
                </div>

                {% include "payment/cardform.html" %}
              </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">My Cards</div>
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center title-2">Active Cards</h3>
                </div>
                <hr>
                    <ul class="list-group">
                      {% for token in active_tokens %}
                        <li class="list-group-item">
                          <span class='text-primary'>{{ token.email }}</span>
                          <span style="float: right;"> <a href="{% url 'card_delete' token.id %}">Delete</a></span>

                          <span
                          style="float: right;"
                            class="badge badge-secondary badge-pill pull-right">
                            {{ token.last_4_digits }}</span> <span class=" text-primary glyphicon glyphicon-remove-circle"></span></li>
                        {% endfor %}
                      </ul>
            </div>
        </div>
    </div>
</row>

{% endblock %}
